* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: KodeMono;
  src: url(./../assets/fonts/KodeMono-Bold.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
h1 {
  font-size: 30px;
  color: #2e2a2a;
  margin: 0;
  font-weight: 500px;
  display: inline;
  background-image: url(../../img/imagenes-index/bg-h1.webp);
}

h2, h3, h4 {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  border-bottom: 3px solid #b500ec;
  display: inline;
}

p, form {
  font-family: Montserrat, sans-serif;
  margin: 4px 0;
  padding: 2%;
  font-size: 20px;
  font-weight: 500;
}

h1, h2, h3, h4, li {
  font-family: Kodemono, sans-serif;
}

span {
  color: #b500ec;
  font-weight: 700;
}

.rounded {
  margin: 30px 0px;
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.ratio {
  max-width: 700px;
  border: 10px double rgb(17, 2, 2);
}

.li__primary {
  font-size: 20px;
  list-style: none;
}

@media (max-width: 576px) {
  h2, h3, h4 {
    font-size: 20px;
  }
  p, li {
    font-size: 15px;
  }
  h1 {
    font-size: 25px;
  }
}
.magia__section {
  width: 100%;
  margin: 40px auto;
}
.magia__section .magia__container {
  width: 75%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.magia__section .magia__container .magia__grimorios {
  height: 250px;
  width: 200px;
  border-radius: 40px 40px 40px 40px;
}
.magia__section .magia__container .magia__tipos {
  height: 250px;
  width: 250px;
  border-radius: 40px 40px 40px 40px;
}
.magia__section .magia__container .magia__espadas {
  width: 600px;
  height: 300px;
  border-radius: 40px;
  object-fit: contain;
}
@media (max-width: 760px) {
  .magia .magia__espadas {
    height: 100px;
    width: 100px;
  }
}

.personajes__container__right {
  display: grid;
  grid-template-columns: auto 0.3fr;
  grid-template-rows: 40px auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "personajes__title personajes__img" "personajes__text personajes__img";
  width: 100%;
  height: 350px;
}
.personajes__container__right .personajes__text {
  grid-area: personajes__text;
}
.personajes__container__right .personajes__img {
  grid-area: personajes__img;
}
.personajes__container__right .personajes__title {
  grid-area: personajes__title;
}
.personajes__container__left {
  display: grid;
  grid-template-columns: 0.3fr auto;
  grid-template-rows: 40px auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "personajes__img personajes__title__left" "personajes__img personajes__text__left";
  width: 100%;
  height: 350px;
}
.personajes__container__left .personajes__text__left {
  grid-area: personajes__text__left;
}
.personajes__container__left .personajes__img {
  grid-area: personajes__img;
}
.personajes__container__left .personajes__title__left {
  grid-area: personajes__title__left;
}
.personajes__img {
  width: 200px;
  height: 200px;
  margin: 0;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  margin: 30px 30px;
}
@media (max-width: 1200px) {
  .personajes .personajes__container__right {
    overflow: hidden;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "personajes__title" "personajes__img" "personajes__text";
  }
  .personajes .personajes__container__left {
    overflow: hidden;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "personajes__title__left" "personajes__img" "personajes__text__left";
  }
}

hr {
  margin: 20px 10px;
}

.region .row-ord {
  display: flex;
  justify-content: center;
}
.region .row-ord .region__art {
  width: 300px;
  height: 300px;
}
.region .row-ord .region__art .card-img-top {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.toros {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #373740;
}

.amanecer {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #D9BB62;
}

.aguilas {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #466B73;
}

.rosas {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #50B4F2;
}

.mantis {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #95BF8A;
}

.pavos {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #D98FB1;
}

.orcas {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #71568C;
}

.ciervos {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #3A7D8C;
}

.leones {
  font-size: 25px;
  color: #2e2a2a;
  margin-bottom: 10px;
  display: inline;
  border-bottom: 3px solid #8C3E62;
}

.section__main {
  background-image: url(../../img/imagenes-index/bg-principal.webp);
  width: 90%;
  padding: 20px;
  max-width: 1200px;
}

header {
  margin-bottom: 70px;
  font-size: 20px;
}

@media (max-width: 990px) {
  .navbar {
    padding: 0;
  }
}
body {
  text-align: center;
  background-image: url(../../img/imagenes-index/bg-body.webp);
  background-size: contain;
}

.footer__container {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  height: 70px;
  margin-bottom: 1rem;
}
.footer__iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.footer__iconos .footer__icono {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-image: url(../../img/imagenes-index/imagenes-footer/whatsapp.webp);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  margin: 1rem;
}
.footer__iconos .footer__icono__icono:hover {
  background-color: #121212;
}
.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
  color: #f2f2f2;
  font-size: 18px;
}
.footer__menu .footer__li {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.footer__menu .footer__li__li:hover {
  opacity: 1;
}
.footer__copyright {
  color: #f2f2f2;
  opacity: 0.3;
  text-align: center;
}
.footer__icono:nth-of-type(2) {
  background-image: url(../../img/imagenes-index/imagenes-footer/instagram.webp);
}
.footer__icono:nth-of-type(3) {
  background-image: url(../../img/imagenes-index/imagenes-footer/github.webp);
}
.footer__icono:nth-of-type(4) {
  background-image: url(../../img/imagenes-index/imagenes-footer/encuesta.webp);
}

.grilla {
  display: grid;
  border: 2px solid rgb(117, 116, 116);
  gap: 10px;
  background-image: url(../../img/imagenes-index/imagenes-region/mapa/bc-mapa.webp);
  background-position: center;
  background-size: cover;
  margin: 30px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: "trebol . pica" ". mapa ." "diamante . corazon";
}
.grilla a.trebol {
  grid-area: trebol;
  border-bottom: none;
  font-size: 25px;
  color: #2e2a2a;
}
.grilla a.diamante {
  grid-area: diamante;
  border-bottom: none;
  font-size: 25px;
  color: #2e2a2a;
}
.grilla a.pica {
  grid-area: pica;
  border-bottom: none;
  font-size: 25px;
  color: #2e2a2a;
}
.grilla a.corazon {
  grid-area: corazon;
  border-bottom: none;
  font-size: 25px;
  color: #2e2a2a;
}
.grilla img.mapa {
  grid-area: mapa;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  .grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: "mapa" "trebol" "diamante" "pica" "corazon";
  }
}
form {
  background-image: url(../../img/imagenes-index/imagenes-personajes/enemigos-principales/bc_enemigo.webp);
  max-width: 500px;
  min-width: 300px;
  margin: 20px auto;
  padding-bottom: 2em;
  background-size: cover;
  background-position: center;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input {
  margin: 15px auto;
  width: 100%;
  background-color: #c5c5d1;
  padding: 5px;
}

.form__casilla {
  width: unset;
  margin: 0 0.5em;
  vertical-align: middle;
}

textarea {
  background-color: #1b1b32;
  color: white;
  margin: 10px 0 0 0;
  width: 90%;
  min-height: 2em;
}

input[type=submit] {
  width: 30%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  color: white;
  min-width: 200px;
}

.form__container {
  margin: 40px auto;
  max-width: 700px;
  height: auto;
  background-image: url(../../img/imagenes-index/imagenes-personajes/enemigos-principales/bc_enemigo.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 15px;
}

.form__pregunta {
  margin: 30px 0;
}

button {
  margin-top: 40px;
}

.li__primary {
  font-size: 20px;
  list-style: none;
  border: 5px double #757474;
  width: 500px;
  max-width: 100%;
  padding: 10px;
  background-image: url(./../../img/imagenes-index/bg-li-home.webp);
  background-size: cover;
  background-position: center;
  color: #f2f2f2;
}

.li__secondary {
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 6px inset #757474;
  padding: 0;
  background-image: url(../../img/imagenes-index/bg-li-home.webp);
  background-size: cover;
  background-position: center;
  color: #f2f2f2;
  max-width: 100%;
}
.li__secondary li {
  margin: 10px auto;
}

.card__primary .card__primary__container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5em;
  flex-wrap: wrap;
}
.card__primary .card__primary__container .card__magia {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  border: 5px double rgb(117, 116, 116);
  background-image: url(../../img/imagenes-index/imagenes-magia/tipos-de-magia/bg-magias.webp);
  color: #ffffff;
}
.card__primary .card__primary__container .card__magia .card__img {
  height: 200px;
  width: 200px;
  border: 5px double black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.card__primary .card__primary__container .card__title {
  padding: 20px 10px;
  font-size: 20px;
}

.enemigos__container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5em;
  flex-wrap: wrap;
}
.enemigos__container .enemigos__card {
  max-width: 100%;
  width: 320px;
  max-height: 100%;
  height: 610px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.7);
}
.enemigos__container .enemigos__card .enemigos__content {
  max-height: 100%;
  max-width: 100%;
  width: 320px;
  height: auto;
  text-align: center;
  border-radius: 50px;
  background-image: url(../../img/imagenes-index/imagenes-personajes/enemigos-principales/bc_enemigo.webp);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.enemigos__container .enemigos__card .enemigos__content .enemigos__img {
  max-width: 100%;
  width: 320px;
  height: 200px;
  border-radius: 50px 50px 0 0;
}
.enemigos__container .enemigos__card .enemigos__content .enemigos__title {
  border-bottom: 3px solid #b500ec;
  display: inline;
  margin: 20px;
  color: #ffffff;
  font-size: 23px;
}
.enemigos__container .enemigos__card .enemigos__content .enemigos__text {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}

.ordenes__container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5em;
  flex-wrap: wrap;
}
.ordenes__container .ordenes__card {
  width: 300px;
  height: 400px;
  border-radius: 60px 60px 0 60px;
  background-size: cover;
  background-position: center;
  box-shadow: 20px 20px 20px;
}
.ordenes__container .ordenes__card .ordenes__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7019607843);
  opacity: 0;
  transition: 0.5s;
  border-radius: 60px 60px 0 60px;
  text-align: center;
}
.ordenes__container .ordenes__card .ordenes__content .ordenes__title {
  color: #ffffff;
}
.ordenes__container .ordenes__card .ordenes__content .ordenes__text {
  color: #ffffff;
  font-size: 16px;
  padding: 10px auto;
  font-weight: 40px;
  margin-top: 20px;
}
.ordenes__card:nth-child(1) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Toros\ Negros.webp);
}
.ordenes__card:nth-child(2) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Amanecer\ Dorado.webp);
}
.ordenes__card:nth-child(3) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Aguilas\ Plateadas.webp);
}
.ordenes__card:nth-child(4) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Rosas\ Azules.webp);
}
.ordenes__card:nth-child(5) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Mantis\ Verdes.webp);
}
.ordenes__card:nth-child(6) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Pavos\ Coral.webp);
}
.ordenes__card:nth-child(7) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Orcas\ Moradas.webp);
}
.ordenes__card:nth-child(8) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Ciervos\ Celestes.webp);
}
.ordenes__card:nth-child(9) {
  background-image: url(../../img/imagenes-index/imagenes-ordenes/ordenes/Leones\ Carmesi.webp);
}
.ordenes__card:hover .ordenes__content {
  opacity: 1;
}
@media (max-width: 360px) {
  .ordenes .ordenes__card {
    width: 250px;
    height: 420px;
  }
  .ordenes .ordenes__title {
    font-size: 18px;
  }
  .ordenes .ordenes__text {
    font-size: 9px;
  }
}

.lideres__container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5em;
  flex-wrap: wrap;
}
.lideres__container .lideres__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  border-radius: 20px;
  background-image: url(../../img/imagenes-index/imagenes-ordenes/lideres/bg-lideres.webp);
  background-position: center;
  background-size: cover;
}
.lideres__container .lideres__content .lideres__img {
  width: 350px;
  height: 350px;
}
.lideres__container .lideres__content {
  font-size: 20px;
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
  height: auto;
  text-align: center;
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
  height: auto;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 760px) {
  .lideres .lideres__content {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .lideres .lideres__img {
    object-fit: cover;
  }
}

/*# sourceMappingURL=main.css.map */
