@mixin lideres-text{
    max-width: $max-container-width;
    width: 90%;
    margin: 0px auto;
    height: auto;
    text-align: center;
    font-size: 18px;
}

@mixin lideres-title {
    font-size: 20px;
    max-width: $max-container-width;
    width: 90%;
    margin: 0px auto;
    height: auto;
    text-align: center;
}

@mixin ordenes__title ($border) {
    font-size: 25px;
    color: $color-text;
    margin-bottom: 10px;
    display:inline;

    @if $border == toros {
        border-bottom: 3px solid $border-toros;
    } @else if $border == amanecer {
        border-bottom: 3px solid $border-amanecer;
    } @else if $border == aguilas {
        border-bottom: 3px solid $border-aguilas;
    } @else if $border == rosas {
        border-bottom: 3px solid $border-rosas;
    } @else if $border == mantis {
        border-bottom: 3px solid $border-mantis;
    } @else if $border == pavos {
        border-bottom: 3px solid $border-pavos;
    } @else if $border == orcas {
        border-bottom: 3px solid $border-orcas;
    } @else if $border == ciervos {
        border-bottom: 3px solid $border-ciervos;
    } @else if $border == leones {
        border-bottom: 3px solid $border-leones;
    }
}

