$color-text:#2e2a2a;
$color-text-secondary:#b500ec;
$color-text-tertiary:#f2f2f2;
$color-text-quaternary:#ffffff;
$color-border:#b500ec;
$color-border-secondary:#f2f2f2;
$color-border-tertiary:#757474;
$color-background:#0e0e0e;
$color-background-secondary:#121212;
$color-background-tertiary:#757474;
$color-background-quaternary: #000000b3;
$max-container-width: 1200px;
$border-toros: #373740;
$border-amanecer: #D9BB62;
$border-aguilas: #466B73;
$border-rosas: #50B4F2;
$border-mantis: #95BF8A;
$border-pavos: #D98FB1;
$border-orcas: #71568C;
$border-ciervos: #3A7D8C;
$border-leones: #8C3E62;
