$color-text:#2e2a2a;
$color-text-secondary:#b500ec;
$color-text-tertiary:#f2f2f2;
$color-text-quaternary:#ffffff;
$color-border:#b500ec;
$color-border-secondary:#f2f2f2;
$color-border-tertiary:#757474;
$color-background:#0e0e0e;
$color-background-secondary:#121212;
$color-background-tertiary:#757474;
$color-background-quaternary: #000000b3;
$max-container-width: 1200px;
