.li__primary {
    font-size: 20px;
    list-style: none;
    border: 5px double $color-border-tertiary;
    width: 500px;
    max-width: 100%;
    padding: 10px;
    background-image: url(./../../img/imagenes-index/bg-li-home.webp);
    background-size: cover;
    background-position: center;
    color: $color-text-tertiary;
}

.li__secondary {
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 6px inset $color-border-tertiary;
    padding: 0;
    background-image: url(../../img/imagenes-index/bg-li-home.webp);
    background-size: cover;
    background-position: center;
    color: $color-text-tertiary;
    max-width: 100%;

    li {
        margin: 10px auto;
    }
}