.li__primary {
    font-size: 20px;
    list-style: none;
}

.li__secondary {
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
        margin: 10px;;
    }
}