.personajes {

    &__content {
        display: inline-block;
        width: auto;
        vertical-align: top;
    }

    &__img {
        width: 200px;
        height: 200px;
        display: inline;
        border-top-right-radius: 30%;
        border-bottom-left-radius: 30%;
        margin: 30px 30px;
    }
    @media (min-width: 1024px) {
        .personajes__content {
            width: auto;
            max-width: 900px;
            justify-content: center;
        }
    
        .personajes__container { 
            display: flex;
        }
    }
}