.personajes {

    &__container__right {
        display: grid;
        grid-template-columns: auto 0.3fr;
        grid-template-rows: 40px auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "personajes__title personajes__img"
        "personajes__text personajes__img";
        width: 100%;
        height: 300px;

        .personajes__text {
            grid-area: personajes__text;

        }

        .personajes__img {
            grid-area: personajes__img;
        }

        .personajes__title {
            grid-area: personajes__title;
        }
    }

    &__container__left {
        display: grid;
        grid-template-columns: 0.3fr auto;
        grid-template-rows: 40px auto;
        gap: 0px 0px;
        height: 300px;
        grid-auto-flow: row;
        grid-template-areas:
        "personajes__img personajes__title__left"
        "personajes__img personajes__text__left";
        width: 100%;
        height: 300px;

        .personajes__text__left {
            grid-area: personajes__text__left;
        }

        .personajes__img {
            grid-area: personajes__img;
        }

        .personajes__title__left {
            grid-area: personajes__title__left;
        }
    }

    &__img {
        width: 200px;
        height: 200px;
        display: inline;
        margin: 0;
        border-top-right-radius: 30%;
        border-bottom-left-radius: 30%;
        margin: 30px 30px;
    }

    @media (max-width: 1024px) {
        .personajes__container__right {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "personajes__title"
            "personajes__img"
            "personajes__text";
        }

        .personajes__container__left {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "personajes__title__left"
            "personajes__img"
            "personajes__text__left";
        }
    }
    
}

hr {
    margin: 20px 10px;
}

