@font-face {
    font-family: KodeMono;
    src: url(./../assets/fonts/KodeMono-Bold.ttf)
}

@font-face {
    font-family: Montserrat;
    src: url(./../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
    }